<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/global/tom-select.bootstrap5.css}" rel="stylesheet">
    <link th:href="@{/css/global/bootstrap.min.css}" rel="stylesheet">
    <title>Треки</title>
</head>
<body>

<div th:include="navbar"></div>

<script th:src="@{/js/global/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/global/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/global/tom-select.complete.min.js}"></script>
<script th:src="@{/js/global/popper.min.js}"></script>
</body>
</html>
